# Public Loops form ID from https://app.loops.so/forms → Settings → Form Endpoint
PUBLIC_LOOPS_FORM_ID=

# Public Umami website ID from https://umami.is/docs/self-hosting#add-a-website
PUBLIC_UMAMI_WEBSITE_ID=
