name: Build Backend

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: "ubuntu-latest"
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "^1.20"
      - name: Go CI Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout 5m

  unit-test:
    runs-on: "ubuntu-latest"
    needs:
      - lint
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "^1.20"
      - name: Execute unit tests
        run: make test.unit
      - name: Stash test results
        uses: actions/upload-artifact@master
        with:
          name: "unit-test-results"
          path: .coverage.unit.out
          retention-days: 7

  integration-test:
    runs-on: "ubuntu-latest"
    services:
      arangodb:
        image: neo4j:5.6.0
        ports:
          - "7474:7474"
          - "7687:7687"
          - "2004:2004"
        env:
          NEO4J_AUTH: neo4j/neo4jsecret
    needs:
      - unit-test
    env:
      ELEMO_CONFIG: configs/test/config.yml
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "^1.20"
      - name: Execute integration tests
        run: |
          go run cmd/elemo/main.go start &
          make test.integration
      - name: Stash test results
        uses: actions/upload-artifact@master
        with:
          name: "integration-test-results"
          path: .coverage.integration.out
          retention-days: 7

  coverage:
    name: coverage
    runs-on: ubuntu-latest
    needs:
      - integration-test
    steps:
      - uses: actions/checkout@v3
      - name: Unstash unit test results
        uses: actions/download-artifact@master
        with:
          name: "unit-test-results"
      - name: Unstash integration test results
        uses: actions/download-artifact@master
        with:
          name: "integration-test-results"
      - name: Combine coverage
        run: make coverage.combine
      - name: Upload test results
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        with:
          prefix: github.com/${{github.repository}}
          coverageLocations: ${{github.workspace}}/.coverage.out:gocov
