# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
yarn.lock

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
/tests/results

# tanstack
/.tanstack
/.nitro

# Vite
/.output
/.vinxi
/.cache

# production
/api
/build
/server/build
/public/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# storybook
*storybook.log
storybook-static

# generated client
!/src/lib/client/*.gen.ts
